<head>
    <title>XP Associados</title>

    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta charset="UTF-8">
    <meta name="description" content="XP Associados Admin" />
    <meta name="keywords" content="admin" />
    <meta name="author" content="Pixon" />

    <link href="stylesheets/css/meteor.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/css/dark-layer.css" class="theme-color" rel="stylesheet" type="text/css" />
</head>

<body class="compact-menu">
    <main class="page-content content-wrap">
        {{> Header}}

        {{> SideMenu}}

        <div class="page-inner">            
            {{> Content}}
            <!-- {{> LoginModal}} -->
            {{> Footer}}
        </div>
    </main>
    <div class="cd-overlay"></div>

    <!-- <script src="js/meteor.min.js"></script> -->
    <!-- <script src="js/pages/dashboard.js"></script> --> -->
    <script src="stylesheets/js/meteor.js"></script>
    <script src="stylesheets/js/pages/dashboard.js"></script>

</body>