<Template name="Post">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="ui form">
        <h4 class="ui dividing header">Conteúdo</h4>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <h4>Nome</h4>
              <input type="text" name="" placeholder="Nome">
            </div>
            <div class="field">
              <h4>Disponível Até</h4>
              <input type="text" class="form-control" id="my-datepicker">
            </div>
          </div>
          <div class="field">
            <h4>Associados</h4>
            <div class="two fields">
              <div class="field">
                <select name="skills" multiple="" class="ui fluid dropdown">
                  <option value="1">Renda Fixa</option>
                  <option value="2">Escritório 1</option>
                  <option value="3">Escritório 2</option>
                  <option value="4">Escritório 3</option>
                  <option value="5">Escritório 4</option>
                  <option value="6">Escritório 5</option>
                  <option value="7">Escritório 6</option>
                  <option value="8">Renda Variável</option>
                </select>
              </div>
              <div class="field">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="isFileBox">
                  <label> Arquivo</label>
                </div>
                {{#unless isLink}}
                <input type="text" name="shipping[address]" placeholder="URL"> {{else}} {{#unless uploading}}
                <input type="file" name="uploadCSV"> {{else}}
                <p>
                  <i class="fa fa-spin fa-refresh"></i> Uploading...</p>
                {{/unless}} {{/unless}}
              </div>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Tipo</label>
            <select class="ui fluid dropdown">
              <option value="DC">Documento</option>
              <option value="VD">Vídeo</option>
              <option value="FT">Foto</option>
              <option value="HT">HTML</option>
            </select>
          </div>
          <div class="field">
            <div class="ui form">
              <div class="ui toggle checkbox">
                <input type="checkbox" name="isFileBox" checked="">
                <label> Ativo</label>
              </div>
            </div>
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Imagem de Capa</label>
            <input type="file" name="uploadCSV">
          </div>
          <div class="field">
            <button class="ui button yellow">
              Salvar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</Template>