<Template name="Dashboard">
  {{> Charts}}
</Template>

<Template name="Charts">
  <div id="main-wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-white">
          <div class="panel-body">
            <div>
              {{> ChartDelivered}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-white">
          <div class="panel-body">
            <div>
              {{> ChartViewed}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-white">
          <div class="panel-body">
            <div>
              {{> DateChart}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-white">
          <div class="panel-body statement-card">
            <div class="statement-card-head">
              <h3>Últimas Visitas
                <br>
                <small><a href="#">Ver Mais</a></small>
              </h3>
              <p>
                <b>4443</b>
              </p>
            </div>
            <table class="table table-responsive">
              <tbody>
                <tr>
                  <th scope="row">Conteúdo 1</th>
                  <td>Danilo Pantani</td>
                  <td>09/12/2017 - 18:33:33</td>
                </tr>
                <tr>
                  <th scope="row">Conteúdo 2</th>
                  <td>Marcos Oliveira</td>
                  <td>09/12/2017 - 18:33:33</td>
                </tr>
                <tr>
                  <th scope="row">Conteúdo 5</th>
                  <td>Victor Balleste</td>
                  <td>09/12/2017 - 18:33:33</td>
                </tr>
                <tr>
                  <th scope="row">Conteúdo 2</th>
                  <td>Alvaro Rodriguez</td>
                  <td>09/12/2017 - 18:33:33</td>
                </tr>
                <tr>
                  <th scope="row">Conteúdo 10</th>
                  <td>Hyun Lee</td>
                  <td>09/12/2017 - 18:33:33</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</Template>

<Template name="ChartDelivered">
    {{> highchartsHelper chartId="chartDelivered" chartWidth="100%" charHeight="100%" chartObject=chartDelivered}}
</Template>

<Template name="ChartViewed">
    {{> highchartsHelper chartId="chartViewed" chartWidth="100%" charHeight="100%" chartObject=chartViewed}}
</Template>

<Template name="DateChart">
    {{> highchartsHelper chartId="dateChart" chartWidth="100%" charHeight="100%" chartObject=dateChart}}
</Template>