<Template name="LogView">
  <div class="panel panel-white">
    <div class="panel-body">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Usuário</th>
            <th>Ação</th>
            <th>Conteúdo</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Danilo Pantani</td>
            <td>
              <b>Alterou</b>
            </td>
            <td>Conteúdo 1</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
          <tr>
            <td>Marcos Oliveira</td>
            <td>
              <b>Removeu</b>
            </td>
            <td>Conteúdo 7</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
          <tr>
            <td>Victor Balleste</td>
            <td>
              <b>Alterou</b>
            </td>
            <td>Conteúdo 2</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
          <tr>
            <td>Alvaro Rodriguez</td>
            <td>
              <b>Adicionou</b>
            </td>
            <td>Conteúdo 3</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
          <tr>
            <td>Hyun Lee</td>
            <td>
              <b>Adicionou</b>
            </td>
            <td>Conteúdo 5</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</Template>