<Template name="Posts">
  <div id="main-wrapper">
    <div class="row">
      <div class="col-md-6">
        {{> Tree}}
      </div>
      <div class="col-md-6">
        {{> Post postItem}}
      </div>
    </div>
  </div>
</Template>

<Template name="Tree">
  <div class="panel panel-default">
    <div class="panel-body">
        {{> Controls}}
      <br> {{> TreeView treeArgs}}
    </div>
  </div>
</Template>

<Template name="Controls">
  <button class="ui button yellow">
    Nova Pasta
  </button>
  <button class="ui primary button">
    Novo Item
  </button>
  <button class="ui button red">
    Deletar
  </button>
</Template>