<Template name="LoginModal">
    <!-- {{#if $not currentUser}} -->
    <!-- <div class="login modal"> -->
        <!-- <i class="fa fa-close close-login"></i> -->
        <!-- {{> atForm}} -->
    <!-- </div> -->
    <!-- {{/if}} -->
</Template>