<Template name="Delivery">
  <div class="panel panel-white">
    <div class="panel-body">
      <table class="table table-responsive">
          <thead>
              <tr>
                <th>Conteúdo</th>
                <th>Usuário</th>
                <th>Associado</th>
                <th>Ação</th>
                <th>Data</th>
              </tr>
            </thead>
        <tbody>
          <tr>
            <th scope="row">Conteúdo 1</th>
            <td>Danilo Pantani</td>
            <td>Renda Fixa</td>
            <td>Entregue</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
          <tr>
            <th scope="row">Conteúdo 2</th>
            <td>Marcos Oliveira</td>
            <td>Associado 1</td>
            <td>Visto</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
          <tr>
            <th scope="row">Conteúdo 5</th>
            <td>Victor Balleste</td>
            <td>Escritório 2</td>
            <td>Entregue</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
          <tr>
            <th scope="row">Conteúdo 2</th>
            <td>Alvaro Rodriguez</td>
            <td>Escritório 1</td>
            <td>Visto</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
          <tr>
            <th scope="row">Conteúdo 10</th>
            <td>Hyun Lee</td>
            <td>XPGE</td>
            <td>Visto</td>
            <td>09/12/2017 - 18:33:33</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</Template>