<Template name="SideMenu">
    <div class="page-sidebar sidebar">
        <div class="page-sidebar-inner slimscroll">
            <ul class="menu accordion-menu">
                {{#each menuItems}} {{> Menu}} {{/each}}
            </ul>
        </div>
    </div>
</Template>

<Template name="Menu">
    <li class="{{#if active}} active {{/if}}">
        <a href="#" class="{{class}}">
            <span class="menu-icon icon-home"></span>
            <p>{{name}}</p>
            {{#if active}}
            <span class="active-page"></span> {{/if}}
        </a>
    </li>
</Template>