<Template name="PushView">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="ui form">
                <div class="field">
                    <h4>Título</h4>
                    <input type="text" name="" placeholder="Titulo">
                </div>
                <div class="field">
                    <h4>Associados</h4>
                    <select name="skills" multiple="" class="ui fluid dropdown">
                        <option value="1">Renda Fixa</option>
                        <option value="2">Escritório 1</option>
                        <option value="3">Escritório 2</option>
                        <option value="4">Escritório 3</option>
                        <option value="5">Escritório 4</option>
                        <option value="6">Escritório 5</option>
                        <option value="7">Escritório 6</option>
                        <option value="8">Renda Variável</option>
                    </select>
                </div>
                <div class="field">
                    <h4>Mensagem</h4>
                    <input type="text" name="" placeholder="Mensagem">
                </div>
                <div class="field">
                    <button class="ui primary button">
                        Enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
</Template>